* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, noto-sans-mono;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 1;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #06005c;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #06005c;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #06005c;
}

#workspaces button.urgent {
    background-color: #ff7c7c;
}

#workspaces button.active {
    background-color: #90b3d9;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #06005c;
}

#clock,
#battery,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
yyyy
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#network {
     color: #06005c;
}

#clock {
    color: #06005c;
    margin-right: 4px;
}

#battery {
    color: #06005c;
}


@keyframes blink {
    to {
        background-color: #06005c;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#memory {
    color: #06005c;
}

#pulseaudio {
    color: #06005c;
}

#temperature {
    color: #06005c;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

